.projects {
    padding: 120px 0px;
    &__title {
        font-weight: 600;
        font-size: 40px;
        line-height: 48px;
    }
    &__wrapper {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(2, 690px);
        grid-template-rows: repeat(2, 480px);
        grid-column-gap: 60px;
        grid-row-gap: 60px;
    }
}
