.projects {
    padding-top: 120px;
    &__title {
        font-weight: 600;
        font-size: 40px;
        line-height: 48px;
    }
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 690px);
        grid-template-rows: repeat(2, 460px);
        grid-column-gap: 60px;
        grid-row-gap: 60px;
    }
}
