* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

html {
    background-color: #15161a;
    color: #fff;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 60px;
    width: 1380px;
}

.projects-container {
    margin: 0 auto;
    width: 1380px;
}

@media (max-width: 1440px) {
    .container,
    .projects-container {
        width: 1240px;
    }
}

@media (max-width: 1240px) {
    .container,
    .projects-container {
        width: 1140px;
    }
}

@media (max-width: 1140px) {
    .container {
        width: 1024px;
        padding-left: 50px;
    }
    .projects-container {
        width: 1024px;
    }
}

@media (max-width: 1024px) {
    .container {
        margin: 0 auto;
        padding: 0 10px;
        width: 900px;
    }
    .projects-container {
        width: 900px;
        padding: 0 10px;
    }
}

@media (max-width: 900px) {
    .container,
    .projects-container {
        width: 864px;
    }
}

@media (max-width: 864px) {
    .container,
    .projects-container {
        width: 844px;
    }
}

@media (max-width: 844px) {
    .container,
    .projects-container {
        width: 800px;
    }
}

@media (max-width: 800px) {
    .container,
    .projects-container {
        width: 768px;
    }
}

@media (max-width: 768px) {
    .container,
    .projects-container {
        width: 720px;
    }
}

@media (max-width: 720px) {
    .container,
    .projects-container {
        width: 640px;
    }
}

@media (max-width: 640px) {
    .container,
    .projects-container {
        width: 600px;
    }
}

@media (max-width: 600px) {
    .container,
    .projects-container {
        width: 512px;
    }
}

@media (max-width: 512px) {
    .container,
    .projects-container {
        width: 425px;
    }
}

@media (max-width: 425px) {
    .container,
    .projects-container {
        padding: 0px 5px;
        width: 375px;
    }
}

@media (max-width: 375px) {
    .container,
    .projects-container {
        width: 320px;
    }
}

@media (max-width: 320px) {
    .container,
    .projects-container {
        min-width: 100%;
    }
}
