.text {
    padding-top: 40px;
    max-width: 800px;
}

.description {
    margin-top: 40px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
}

.title {
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
}
