.about {
    padding: 60px 0px;
    display: flex;
    justify-content: space-between;
    &__text {
        width: 50%;
        margin-top: 10px;
        font-weight: 300;
        font-size: 22px;
        line-height: 150%;
        span {
            font-weight: 400;
        }
        &-title {
            font-weight: 600;
            font-size: 40px;
            line-height: 48px;
        }
        &-link {
            display: flex;
            align-items: center;
            width: 200px;
            height: 45px;
            text-align: center;
            margin-top: 15px;
            background-color: #aaaeb9;
            border-radius: 6px;
            color: #24292e;
            cursor: pointer;
            font-size: 18px;
            font-weight: 600;
            line-height: 20px;
            list-style: none;
            padding: 6px 12px;
            position: relative;
            border: none;
            outline: none;
            transition: all 0.2s ease-in-out;
            box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.04), 0px 3px 8px rgba(0, 0, 0, 0.12),
                0px 8px 16px rgba(0, 0, 0, 0.6);
            &:hover {
                background-color: darken($color: #aaaeb9, $amount: 30);
                text-decoration: none;
                color: lighten($color: #24292e, $amount: 75);
            }
            &:last-child {
                margin-right: 0px;
            }
        }
        &-contact {
            width: 50px;
            height: 50px;
            margin-right: 20px;
            &:hover {
                svg {
                    path {
                        transition: all 0.2s ease-in-out;
                        fill: darken($color: #aaaeb9, $amount: 15);
                    }
                }
            }
            &:last-child {
                margin-right: 0px;
            }
        }
    }
    &__wrapper {
        position: relative;
        display: grid;
        place-items: center;
        aspect-ratio: 1 / 1;
        background-color: #aaaeb9;
        border-radius: 2.5rem;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.04), 0px 3px 8px rgba(0, 0, 0, 0.12),
            0px 8px 16px rgba(0, 0, 0, 0.6);
        &-first,
        &-second {
            z-index: 10;
            max-width: 500px;
            max-height: 500px;
            border-radius: 2rem;
            overflow: hidden;
            transform: rotate(8deg);
            transition: all 400ms ease;
            opacity: 1;
            &:hover {
                transform: rotate(0);
            }
        }
        &-second {
            position: absolute;
            z-index: 5;
        }
    }
}
