.about {
    padding: 60px 0px;
    display: flex;
    justify-content: space-between;
    &__text {
        width: 50%;
        margin-top: 10px;
        font-weight: 300;
        font-size: 22px;
        line-height: 150%;
        span {
            font-weight: 400;
        }
        &-title {
            font-weight: 600;
            font-size: 40px;
            line-height: 48px;
        }
        &-link {
            display: grid;
            width: 205px;
            height: 50px;
            margin-top: 10px;
            text-align: center;
            align-items: center;
            margin-right: 10px;
            background-color: #aaaeb9;
            border-radius: 6px;
            color: #24292e;
            cursor: pointer;
            font-size: 19px;
            font-weight: 600;
            line-height: 20px;
            list-style: none;
            padding: 6px 16px;
            position: relative;
            border: none;
            outline: none;
            transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
            box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.04), 0px 3px 8px rgba(0, 0, 0, 0.12),
                0px 8px 16px rgba(0, 0, 0, 0.6);
            &:hover {
                background-color: darken($color: #aaaeb9, $amount: 30);
                text-decoration: none;
                color: lighten($color: #24292e, $amount: 75);
            }
            &:last-child {
                margin-right: 0px;
            }
        }
        &-contact {
            width: 50px;
            height: 50px;
            margin-right: 20px;
            &:hover {
                svg {
                    path {
                        transition: all 0.2s ease-in-out;
                        fill: darken($color: #aaaeb9, $amount: 15);
                    }
                }
            }
            &:last-child {
                margin-right: 0px;
            }
        }
    }
    &__wrapper {
        position: relative;
        display: grid;
        place-items: center;
        aspect-ratio: 1 / 1;
        background-color: #aaaeb9;
        border-radius: 2.5rem;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.04), 0px 3px 8px rgba(0, 0, 0, 0.12),
            0px 8px 16px rgba(0, 0, 0, 0.6);
        left: -35px;
        &-first,
        &-second {
            z-index: 10;
            max-width: 500px;
            max-height: 500px;
            border-radius: 2rem;
            overflow: hidden;
            transform: rotate(8deg);
            transition: all 400ms ease;
            opacity: 1;
            &:hover {
                transform: rotate(0);
            }
        }
        &-second {
            position: absolute;
            z-index: 5;
        }
    }
}

@media (max-width: 1240px) {
    .about {
        &__text {
            p {
                font-size: 20px;
                line-height: 150%;
            }
        }
        &__wrapper {
            &-first,
            &-second {
                max-width: 450px;
                max-height: 450px;
                img {
                    max-width: 450px;
                    max-height: 450px;
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .about {
        &__text {
            p {
                font-size: 18px;
                line-height: 150%;
            }
            &-link {
                width: 200px;
                height: 45px;
            }
        }
        &__wrapper {
            &-first,
            &-second {
                max-width: 375px;
                max-height: 375px;
                img {
                    max-width: 375px;
                    max-height: 375px;
                }
            }
        }
    }
}
@media (max-width: 864px) {
    .about {
        &__wrapper {
            &-first,
            &-second {
                width: 340px;
                height: 340px;
                img {
                    width: 340px;
                    height: 340px;
                }
            }
        }
    }
}

@media (max-width: 844px) {
    .about {
        &__wrapper {
            height: 320px;
            &-first,
            &-second {
                width: 320px;
                height: 320px;
                img {
                    width: 320px;
                    height: 320px;
                }
            }
        }
    }
}

@media (max-width: 844px) {
    .about {
        &__wrapper {
            left: -15px;
        }
    }
}

@media (max-width: 768px) {
    .about {
        padding: 40px 0;
        flex-direction: column-reverse;
        align-items: center;
        &__text {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 50px;
            text-align: center;
            width: 100%;
            &-link {
                margin-top: 20px;
                margin-right: 0px;
                width: 250px;
                height: 55px;
                font-size: 22px;
            }
            &-contact {
                margin-top: 20px;
                margin-right: 18px;
            }
            p {
                font-size: 20px;
            }
        }
        &__wrapper {
            height: 360px;
            width: 360px;
            left: 0;
            &-first,
            &-second {
                width: 360px;
                height: 360px;
                img {
                    width: 360px;
                    height: 360px;
                }
            }
        }
    }
}

@media (max-width: 425px) {
    .about {
        &__wrapper {
            height: 300px;
            width: 300px;
            &-first,
            &-second {
                width: 300px;
                height: 300px;
                img {
                    width: 300px;
                    height: 300px;
                }
            }
        }
    }
}

@media (max-width: 375px) {
    .about {
        &__wrapper {
            height: 280px;
            width: 280px;
            &-first,
            &-second {
                width: 280px;
                height: 280px;
                img {
                    width: 280px;
                    height: 280px;
                }
            }
        }
        &__text {
            &-link {
                width: 240px;
                height: 50px;
                font-size: 20px;
            }
            &-contact {
                margin-top: 20px;
                margin-right: 18px;
            }
            p {
                font-size: 18px;
                line-height: 140%;
            }
        }
    }
}

@media (max-width: 320px) {
    .about {
        &__wrapper {
            height: 250px;
            width: 250px;
            &-first,
            &-second {
                width: 250px;
                height: 250px;
                img {
                    width: 250px;
                    height: 250px;
                }
            }
        }
        &__text {
            &-link {
                width: 220px;
                height: 50px;
                font-size: 20px;
            }
            &-contact {
                margin-top: 15px;
                margin-right: 15px;
            }
            p {
                font-size: 18px;
            }
        }
    }
}
