.sidebar {
    display: flex;
    flex-direction: column;
    left: 0;
    position: fixed;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0) 100%),
        rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.04), 0px 2px 3px rgba(0, 0, 0, 0.12),
        0px 6px 9px rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(20px);
    border-radius: 80px;
    margin: 40px;
    &__link,
    &__active,
    &__social {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px;
        text-decoration: none;
        color: #fff;
        width: 48px;
        height: 48px;
        transition: all 0.2s linear;
        &:active,
        &:hover {
            background: rgba(255, 255, 255, 0.1);
            border-radius: 32px;
        }
        &:hover {
            transform: scale(1.05);
        }
    }
    &__divider {
        margin: 0 auto;
        width: 66%;
        border-top: 2px solid #656a7b;
    }
    &__active {
        background: rgba(255, 255, 255, 0.1);
        border-radius: 32px;
        transition: all 0.4s linear;
        svg {
            transition: all 0.4s linear;
            transform: scale(1.2);
            path {
                fill: #aaaeb9;
            }
        }
    }
    li {
        list-style-type: none;
        margin-top: 12px;
        &:first-child {
            margin-top: 0px;
        }
    }
}

@media (max-width: 1660px) {
    .sidebar {
        margin: 20px;
    }
}

@media (max-width: 1560px) {
    .sidebar {
        margin: 10px;
    }
}

@media (max-width: 1240px) {
    .sidebar {
        margin: 20px;
        &__link,
        &__active,
        &__social {
            width: 38px;
            height: 38px;
        }
        &__divider {
            width: 50%;
        }
        li {
            margin-top: 10px;
        }
    }
}

@media (max-width: 1024px) {
    .sidebar {
        margin: 20px 15px;
        &__link,
        &__active,
        &__social {
            width: 36px;
            height: 36px;
        }
        li {
            margin-top: 10px;
        }
    }
}

@media (max-width: 900px) {
    .sidebar {
        margin: 20px 15px;
        &__link,
        &__active,
        &__social {
            width: 36px;
            height: 36px;
        }
        li {
            margin-top: 10px;
        }
    }
}
