.header {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &__text {
        height: 420px;
        width: 66%;
        &-title {
            font-weight: 600;
            font-size: 60px;
            line-height: 150%;
            margin-right: 10px;
        }
        &-descr {
            font-weight: 400;
            font-size: 20px;
            line-height: 28px;
            color: rgba(255, 255, 255, 0.6);
        }
        &-link,
        &-soloLink,
        &-next,
        &-previous {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: max-content;
            color: rgba(255, 255, 255, 0.6);
            transition: all 0.2s ease-in-out;
            svg {
                margin-right: 8px;
                transform: scale(-1, 1);
                transition: all 0.2s ease-in-out;
            }
            &:hover {
                color: rgba(255, 255, 255, 1);
                svg {
                    fill: #fff;
                }
            }
        }
        &-link {
            margin-bottom: 10px;
        }
        &-next {
            margin-left: 15px;
            svg {
                margin-left: 8px;
                transform: scale(1, -1);
                transition: all 0.2s ease-in-out;
            }
        }
        &-btn {
            width: 150px;
            height: 35px;
            margin-top: 10px;
            margin-right: 10px;
            background-color: #aaaeb9;
            border-radius: 6px;
            color: #24292e;
            cursor: pointer;
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
            list-style: none;
            padding: 6px 16px;
            position: relative;
            border: none;
            outline: none;
            transition: all 0.2s ease-in-out;
            box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.04), 0px 3px 8px rgba(0, 0, 0, 0.12),
                0px 8px 16px rgba(0, 0, 0, 0.6);
            &:hover {
                background-color: darken($color: #aaaeb9, $amount: 30);
                text-decoration: none;
                transition-duration: 0.1s;
                color: lighten($color: #24292e, $amount: 75);
            }
            &:last-child {
                margin-right: 0px;
            }
        }
    }
    &__stack {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        &-item {
            margin: 10px 10px 0px 0px;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: rgba(255, 255, 255, 0.6);
            border: 1px solid #333;
            background: #333;
            border-radius: 5px;
            padding: 2px;
            list-style-type: none;
            backface-visibility: hidden;
            &:last-child {
                margin-right: 0px;
            }
        }
    }
}
