.header {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &__text {
        width: 66%;
        &-title {
            font-weight: 600;
            font-size: 60px;
            line-height: 150%;
            margin-right: 10px;
        }
        &-descr {
            font-weight: 400;
            font-size: 20px;
            line-height: 28px;
            color: rgba(255, 255, 255, 0.6);
        }
        &-link {
            display: flex;
            flex-direction: row;
            align-items: center;
            color: rgba(255, 255, 255, 0.6);
            img {
                margin-right: 8px;
                transform: scale(-1, 1);
            }
        }
    }
    &__stack {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        &-item {
            margin: 10px 10px 0px 0px;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: rgba(255, 255, 255, 0.6);
            border: 1px solid #333;
            background: #333;
            border-radius: 5px;
            padding: 2px;
            list-style-type: none;
            backface-visibility: hidden;
            &:last-child {
                margin-right: 0px;
            }
        }
    }
}
