.header {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &__text {
        text-align: start;
        &-title {
            font-weight: 600;
            font-size: 60px;
            line-height: 150%;
            margin-right: 10px;
        }
    }
}
