.slider {
    padding-top: 25px;
    &__title {
        font-weight: 600;
        font-size: 40px;
        line-height: 48px;
    }
    &__wrapper {
        padding: 20px;
    }
    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 760px;
        &-img {
            border-radius: 40px;
            box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.04), 0px 3px 8px rgba(0, 0, 0, 0.12),
                0px 8px 16px rgba(0, 0, 0, 0.6);
            cursor: grab;
            transition: all 0.2s ease-in-out;
            &:active {
                cursor: grabbing;
            }
            &:hover {
                box-shadow: 0px 1px 50px rgba(0, 0, 0, 0.5), 0px 3px 50px rgba(0, 0, 0, 0.12),
                    0px 8px 50px rgba(0, 0, 0, 0.6);
            }
        }
    }
}

@media (max-width: 1440px) {
    .slider {
        &__item {
            &-img {
                width: 1100px;
            }
        }
    }
}

@media (max-width: 1240px) {
    .slider {
        padding-top: 100px;
        &__item {
            height: 675px;
            &-img {
                width: 100%;
                height: 600px;
            }
        }
    }
}

@media (max-width: 1140px) {
    .slider {
        padding-top: 100px;
        &__item {
            height: 665px;
            &-img {
                height: 560px;
            }
        }
    }
}

@media (max-width: 864px) {
    .slider {
        padding-top: 80px;
        &__item {
            height: 625px;
            &-img {
                height: 520px;
            }
        }
    }
}

@media (max-width: 800px) {
    .slider {
        padding-top: 60px;
        &__item {
            height: 560px;
            &-img {
                height: 470px;
            }
        }
    }
}

@media (max-width: 720px) {
    .slider {
        padding-top: 40px;
        &__wrapper {
            padding: 0px;
        }
        &__item {
            height: 500px;
            &-img {
                height: 420px;
            }
        }
    }
}

@media (max-width: 640px) {
    .slider {
        &__item {
            height: 475px;
            &-img {
                height: 400px;
            }
        }
    }
}

@media (max-width: 600px) {
    .slider {
        &__title {
            font-size: 36px;
            line-height: 38px;
        }
        &__item {
            height: 450px;
            &-img {
                height: 375px;
            }
        }
    }
}

@media (max-width: 512px) {
    .slider {
        &__item {
            height: 420px;
            &-img {
                height: 350px;
            }
        }
    }
}

@media (max-width: 425px) {
    .slider {
        &__item {
            height: 400px;
            &-img {
                border-radius: 20px;
                width: 100%;
                height: 330px;
            }
        }
    }
}

@media (max-width: 425px) {
    .slider {
        &__item {
            height: 400px;
            &-img {
                width: 100%;
                height: 330px;
            }
        }
    }
}

@media (max-width: 375px) {
    .slider {
        &__title {
            font-size: 32px;
            line-height: 36px;
        }
        &__item {
            height: 100%;
            &-img {
                width: 100%;
                height: 280px;
            }
        }
    }
}

@media (max-width: 320px) {
    .slider {
        &__item {
            height: 100%;
            &-img {
                width: 100%;
                height: 260px;
            }
        }
    }
}
